.registration-table {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  margin-left: 350px;
}

.registration-table h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.registration-table table {
  width: 100%;
  border-collapse: collapse;
}

.registration-table th,
.registration-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.registration-table th {
  color: white;
}



